:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

.window-control .minimize svg path {
  fill: var(--btn-minimize);
}

.window-control .maximize svg path {
  fill: var(--btn-maximize);
}

.window-control .close-window svg path {
  fill: var(--btn-close);
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid var(--border);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--layer);
  color: var(--text);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.2s, color 0.2s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  text-align: center;
}
